.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header div {
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.header img {
  cursor: pointer;
}

.form {
  padding: 24px 0px;
}

.form mat-form-field {
  width: 100%;

  padding: 5px 0px;
}

.form .role-type {
  padding: 10px 0px;

  display: grid;
  grid-template-columns: 1fr 2fr;
}

.footer {
  display: flex;
  justify-content: center;
}

.add-user {
  cursor: pointer;

  background-color: green;
  border: none;
  padding: 10px;
  border-radius: 4px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-user span {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;

  color: #FFFFFF;
}
