.example-container {
  margin: 20px 0px;

  overflow: auto;
}

table {
  width: 100%;
}

.status-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.status-div img {
    margin-right: 10px;
}

.options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.options img,
.options mat-icon {
    cursor: pointer;
}